@model WebApplication1_mvc_poc_webgentle.Models.NewEmployee
@{
    Layout = null;
}

<style>
    .field-validation-error {
        color: red;
    }
</style>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CustomValidationIndex</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("CustomValidationIndex", "Home", FormMethod.Post))
        {
            <div class="field-validation-error">
                @Html.ValidationSummary()
            </div>

            <label> firstName:</label>
            @Html.EditorFor(x => x.firstName)<br />
            <br />
            <label> lastName:</label>
            @Html.EditorFor(x => x.lastName)<br />
            <br />
            <input type="submit" value="submit " />
            <br /><br />
        }
    </div>
</body>
</html>
