@model WebApplication1_mvc_poc_webgentle.Models.Employee

@{
    ViewBag.Title = "Home Page  ";
}
    <html>
        <head>
            @*<meta http-equiv="refresh" content="1" />*@
            <h3 >@@Date & Time @DateTime.Now</h3>

        </head>

        <body>
            <table class="table">
                <tr>
                    <td>
                        Id
                    </td>
                    <td>
                        @Model.id
                    </td>
                </tr>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                        @Model.name
                    </td>
                </tr>
                <tr>
                    <td>
                        Address
                    </td>
                    <td>
                        @Model.address
                    </td>
                </tr>

            </table>@{
                bool isTrue = true;

                if (isTrue)
                {
                    <h2>Yes it is True :)</h2>
                }
            }


            <div>
                @for (int i = 0; i < 10; i++)
                {
                    <div style="background-color:aqua">
                        hello from loop
                    </div><br />

                }
            </div>
        </body>
   

  
</html>
