
@{
    ViewBag.Title = "IndexForJquery";
}

<html>
<head>

    <script src="~/Scripts/jquery-3.5.1.js"></script>

</head>

<body>
    <div>
        <h2>Hello from jquery</h2>
    </div>

</body>
</html>

<script type="text/javascript">

    $(document).ready(function(){
    console.log("hello there !!");

    }); 
</script>

