@model WebApplication1_mvc_poc_webgentle.Models.Employee

@{
    ViewBag.Title = "Home Page";
}

    <table class="table">
        <tr>
            <td>
                Id
            </td>
            <td>
                @Model.id
            </td>
        </tr>
        <tr>
            <td>
               Name
            </td>
            <td>
                @Model.name
            </td>
        </tr>
        <tr>
            <td>
               Address
            </td>
            <td>
                @Model.address
            </td>
        </tr>

    </table>