<div>
    <h2> this is index for layout demo</h2>
    <a href="/Employee">Get-List</a><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <a href="/NewEmployee">Add-List</a>
</div>
    
 

