@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>Add New Employee Records here</h1>

@section renderName
{ 

    <h3 style="margin-bottom:5px">Mayank </h3><br /><br /><br /><br />
    }


@section pageName
{ 

    <h3 style="margin-bottom:5px">Custom page name </h3><br /><br /><br /><br />
    }